<!DOCTYPE html>
<html>
  <head>
      <meta charset='utf-8' />
      <title>Route</title>
      <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
      <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet'>
      <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.js'></script>
      <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.css' rel='stylesheet' />
      <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.2/mapbox-gl-directions.js'></script>
      <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.2/mapbox-gl-directions.css' type='text/css' />
      <link href='static/style.css' rel='stylesheet' />
      <link rel="shortcut icon" href="./static/favicon.ico" type="image/x-icon" />
      <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
      <script src='https://npmcdn.com/@turf/turf/turf.min.js'></script>
  </head>
  <body>
  <div id='map' class='map'> </div>
  <script>

  var mapboxAccessToken = '{{ MAPBOX_ACCESS_TOKEN }}'
  mapboxgl.accessToken = mapboxAccessToken
  mapbox_style_verion = '-v9'

  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets' + mapbox_style_verion,
    center: [0.000000, 0.000000],
    zoom: 0.0,
    scrollZoom: true
  });

  var baseUrl = 'https://api.mapbox.com/directions/v5/mapbox/driving'
  var origin = '{{ origin }}'
  var destination = '{{ destination }}'
  var requestUrl = `${baseUrl}/${origin};${destination}.json?access_token=${mapboxAccessToken}&geometries=geojson`

  $.ajax({
    method: 'GET',
    url: requestUrl
  }).done(function(data) {
    // Get the coordinates from the response
    var geometry = data.routes[0].geometry;
    // Code from the next step will go here
    var centroidObject = turf.centroid(geometry);
    var centroid = centroidObject.geometry.coordinates
    console.log(centroid);
    addRoute(geometry, centroid);
  });

  function addRoute(coords, centroid) {
    // If a route is already loaded, remove it
    if (map.getSource('route')) {
        map.removeLayer('route')
        map.removeSource('route')
    } else { // Add a new layer to the map
        map.addLayer({
          "id": "route",
          "type": "line",
          "source": {
            "type": "geojson",
            "data": {
              "type": "Feature",
              "properties": {},
              "geometry": coords
            }
          },
          "layout": {
            "line-join": "round",
            "line-cap": "round"
          },
          "paint": {
            "line-color": "#03AA46",
            "line-width": 8,
            "line-opacity": 0.8
        }
      });
      map.jumpTo({center: centroid, zoom: 13});
    };
  }

  </script>
  </body>
</html>
